#about-page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 7vh 0 0 0;
  width: 90vw;
  min-height: 93vh;
  height: auto;

  .about-block {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .about-emoji {
      padding: 30px 0 0 0;
      font-size: 9em;
      height: auto;
    }

    .about-text {
      color: white;
      font-size: 1.5em;
      width: 80vw;
    }
  }
}