.register-form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-width: 200px;
  height: 27vh;

  .registerForm {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 20vw;
    min-width: 200px;
    height: 20vh;
  }
}