.register-form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  height: 27vh;

  .registerForm {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 20vw;
    min-width: 200px;
    height: 20vh;
  }

  .login-error {
    color:red;
    font-size: 1em;
    width: 90%;
    margin-bottom: 15px;
    text-align: center;
  }

  .affirmative-button {
    width: 100%;
  }
}