.stock-info-card {
  background: white;
  display: flex;
  flex-flow: column nowrap;
  width: 40vw;
  padding: 15px;
  border-radius: 5px;

  .stock-info-header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: #009688;
    margin: -15px -15px 0 -15px;
    border-radius: 5px 5px 0 0;
    padding: 0 15px 0 15px;

    .stock-info-title{
      font-size: 2em;

    }

    .tags {
      display: flex;
      flex-flow: row nowrap;
      
      .tag{
        font-size: .8em;
        padding-right: 10px;
        color: white;
      }
    }
  }

  .stock-info-body {
    padding: 15px 0 0 0;

    .wk52 {

    }

    .description {
      padding: 10px 0 0 0;
    }
  }
}