.ticker-input {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 15px;

  .input-field {
    margin: 0;
  }

  Button {
    padding: 14px 14px;
  }
}

